// Put any @imports here
// See Readme for a list of supported ones
@import "foundation";


body {
  background: #e2ebf3;
}

.messageForm {
  // position: relative;
  // width: 40%;

  form {
    input {
      width: 50%;
    }
    textarea {
      width: 60%;
      height: 100px;
    }

    small {
      color: red;
    }
  }
}

.comments {

  ul {
    list-style: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    display: inline-block;

    li {


    }
  }

  button {
    margin: 10px;
  }
}